<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dar.nclientv2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".components.CrashApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_content"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/LightTheme">
        <activity android:name=".SearchActivity"/>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:theme="@style/DarkTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="nhentai.net" />
                <data android:path="/" />
                <data android:pathPrefix="/search/" />
                <data android:pathPrefix="/parody/" />
                <data android:pathPrefix="/character/" />
                <data android:pathPrefix="/tag/" />
                <data android:pathPrefix="/artist/" />
                <data android:pathPrefix="/group/" />
                <data android:pathPrefix="/language/" />
                <data android:pathPrefix="/category/" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GalleryActivity"
            android:label="@string/title_activity_gallery"
            android:parentActivityName=".MainActivity"
            android:theme="@style/DarkTheme">
            <intent-filter>
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data
                    android:host="nhentai.net"
                    android:pathPattern="/g/.*" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dar.nclientv2.MainActivity" />
        </activity>
        <activity
            android:name=".ZoomActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_zoom"
            android:parentActivityName=".GalleryActivity"
            android:theme="@style/DarkTheme.NoTitle" />

        <service
            android:name=".async.DownloadGallery"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".async.CreatePDF"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".LocalActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity"
            android:theme="@style/DarkTheme" />
        <activity
            android:name=".TagFilter"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_tag_filter"
            android:parentActivityName=".MainActivity"
            android:theme="@style/DarkTheme">
            <intent-filter>
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="nhentai.net" />
                <data android:pathPrefix="/tags" />
                <data android:pathPrefix="/artists" />
                <data android:pathPrefix="/characters" />
                <data android:pathPrefix="/parodies" />
                <data android:pathPrefix="/groups" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dar.nclientv2.MainActivity" />
        </activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".RandomActivity">
            <intent-filter>
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="nhentai.net" />
                <data android:pathPrefix="/random" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FavoriteActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="nhentai.net" />
                <data android:pathPrefix="/favorites" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".CopyToClipboardActivity"
            android:icon="@drawable/ic_copy"
            android:label="@android:string/copyUrl" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dar.nclientv2.MainActivity" />

            <intent-filter>
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="nhentai.net" />
                <data android:pathPrefix="/login" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
    </application>

</manifest>